<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.dao.MemberRankMapper">
    
    <select id="queryMemberRankList" parameterType="com.jk.model.MemberRank" resultType="com.jk.model.MemberRank">
        select * from shop_member_rank t
    </select>

    <insert id="addMemberRank" parameterType="com.jk.model.MemberRank" >
        insert into shop_member_rank
        values(seq_new.nextval,#{name},#{scale},#{amount},#{isDefault},#{isSpecial},sysdate,sysdate)
    </insert>
    <delete id="deleteMemberRankById" >
        DELETE shop_member_rank WHERE rankid =${id}
    </delete>
</mapper>